






body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
input{
	width: 300px;
	padding: 10px 0;
	margin-bottom: 30px;
	border-radius: 10px;
	text-align: center;
	
}
input::placeholder{
	color: #000;
}
.container{
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
}
.row{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
form{
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#btn{
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition:all .5s ease;
   	border: 1px solid #4CAF50 ;

}
#btn:hover{
	background-color: transparent;
	color: #000;
}
.row__title{
	display: flex;
	justify-content: center;
	align-items: center;

}
h1{
	text-align: center;
	font-size: 30px;
	vertical-align:center;
}
#mes{
	text-decoration: none;
	color:#000;
	font-size: 18px;
}
.mes__row{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

}